
NEXT_PUBLIC_SUPABASE_URL=https://gxaqrwrqlwvgrjhmfhti.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_lMgB150gcABG_YgaNVTU8A_XEy1JNi5
SUPABASE_SERVICE_ROLE_KEY=your_private_service_role_key
